@model GetAllIncentivesVM

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Incentives</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-12">
				<form asp-action="GetAll" class="col-10">

					<label class="control-label pt-2" style="font-size:20px;">Transport</label>
					<select asp-for="Filter.TransportComparator" class="btn btn-outline-primary col-1" asp-items="@ViewBag.TransportComparators">
						<option value="">choose</option>
					</select>
					<input asp-for="Filter.TransportCount" class="btn btn-outline-primary col-1" />

					<label class="control-label pt-2 pl-15" style="font-size:20px;">Kilometer</label>
					<select asp-for="Filter.KilometerComparator" class="btn btn-outline-primary col-1" asp-items="@ViewBag.KilometerComparators">
						<option value="">choose</option>
					</select>
					<input asp-for="Filter.KilometersCount" class="btn btn-outline-primary col-1" />

					<label class="control-label pt-2 pl-15" style="font-size:20px;">Bonus</label>
					<select asp-for="Filter.BonusComparator" class="btn btn-outline-primary col-1" asp-items="@ViewBag.BonusComparators">
						<option value="">choose</option>
					</select>
					<input asp-for="Filter.Bonus" class="btn btn-outline-primary col-1" />

					<input type="submit" value="Filter" class="btn btn-success col-1" />
				</form>
				<div class="col-2 text-end">
					<a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Incentive</a>
				</div>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>
						Incentive Code
					</th>
					<th>
						Min Transport Count
					</th>
					<th>
						Min Kilometers Count
					</th>
					<th>
						Bonus
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach(var incentive in Model.Incentives)
				{
				<tr>
					<td>
						@incentive.IncentiveCode
					</td>
					<td>
						@incentive.MinTransportCount
					</td>
					<td>
						@incentive.MinKilometersCount
					</td>
					<td>
						@((incentive.Bonus).ToString("c"))
					</td>
					<td>
						<a asp-action="Delete" asp-route-incentiveId="@incentive.IncentiveId" class="btn btn-danger">
						<i class="bi bi-trash"></i>
						</a>
					</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>